.offset {
  float: left;
  height: 100px;
}

.week {
  list-style: none;
  padding-left: 0;
  width: 854px;
}

.weekday {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  float: left;
  padding: 10px;
}

.weekday:not(.current-month) {
  opacity: 0.2;
}
