.calendar-nav {
  max-height: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-nav__title {
    margin: 0;
}
    
.calendar-nav__title .cursive {
  position: relative;
}

.calendar-nav__arrow {
    cursor: pointer;
    padding: 0;
}

.calendar-nav__arrow svg {
  width: 0.5em;
}
.calendar-nav__arrow:hover svg{
  stroke: #000;
}
